<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013531303372-540da9kbcfa7ap8ia7ajoeo0u2qtovai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013531303372-540da9kbcfa7ap8ia7ajoeo0u2qtovai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013531303372-8f6pf5qt13u3uqeattcfnbvvs04p8jhi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Rhkcscvdf_5ovK5162IMj4_P7ri8Wsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1013531303372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.candy</string>
	<key>PROJECT_ID</key>
	<string>lunericandy</string>
	<key>STORAGE_BUCKET</key>
	<string>lunericandy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013531303372:ios:e1c5be8174192bedd15169</string>
	<key>DATABASE_URL</key>
	<string>https://lunericandy.firebaseio.com</string>
</dict>
</plist>