<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285163780198-t47080le0pp6phv89kl6smodtf0dglmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285163780198-t47080le0pp6phv89kl6smodtf0dglmo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285163780198-0j3fs7fuhbl4djl2amq2gle5llevjkoi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIA9nipESrPfEB2HkLTgVaQrzuio4CVv0</string>
	<key>GCM_SENDER_ID</key>
	<string>285163780198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>giordanelli.push</string>
	<key>PROJECT_ID</key>
	<string>push09</string>
	<key>STORAGE_BUCKET</key>
	<string>push09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285163780198:ios:c28578c75aec771ea715a7</string>
	<key>DATABASE_URL</key>
	<string>https://push09.firebaseio.com</string>
</dict>
</plist>